body {
    margin: 0;
    font-family: Georgia, serif;
    background: #1b0f2a;
    color: #f3e9ff;
    text-align: center;
}


header {
    padding-top: 50px;
}


h1 {
    color: #d6a4ff;
    font-size: 3rem;
}


.subtitle {
    font-size: 1.2rem;
    margin-bottom: 40px;
}


.things-page {
    max-width: 700px;
    margin: auto;
    padding: 20px;
}


.thing-card {

    background: rgba(255,255,255,0.06);

    border-radius: 15px;

    padding: 25px;

    margin: 30px auto;

    max-width: 500px;

}


.thing-card h2 {

    color: #d6a4ff;

}


.thing-card p {

    line-height: 1.7;

}