body {
    margin: 0;
    font-family: "Georgia", serif;

    background: #1b0f2a;

    min-height: 100vh;

    color: #f3e9ff;

    text-align: center;

}


.home {

    margin-top: 100px;

    padding: 30px;

}


h1 {

    font-size: 4rem;

    color: #d6a4ff;

    margin-bottom: 15px;

}


p {

    font-size: 1.2rem;

    line-height: 1.8;

}


.small {

    font-size: 1rem;

    opacity: 0.8;

}


.buttons {

    margin-top: 40px;

}


.buttons a {

    display: block;

    margin: 20px;

    color: #d6a4ff;

    text-decoration: none;

    font-size: 1.3rem;

}


.buttons a:hover {

    color: white;

}


.footer {

    margin-top: 60px;

    font-size: 1rem;

    opacity: 0.7;

}


