body {
    margin: 0;
    font-family: "Georgia", serif;

    background: #1b0f2a;

    min-height: 100vh;

    color: #f3e9ff;

    text-align: center;

}


.home {

    margin-top: 100px;

    padding: 30px;

}


h1 {

    font-size: 4rem;

    color: #d6a4ff;

    margin-bottom: 15px;

}


p {

    font-size: 1.2rem;

    line-height: 1.8;

}


.small {

    font-size: 1rem;

    opacity: 0.8;

}


.buttons {

    margin-top: 40px;

    display: flex;

    flex-direction: column;

    align-items: center;

    gap: 20px;

}


.buttons button {

    background: transparent;

    border: none;

    color: #d6a4ff;

    font-family: "Georgia", serif;

    font-size: 1.3rem;

    cursor: pointer;

    padding: 5px;

    transition: 0.3s ease;

}


.buttons button:hover {

    color: white;

    transform: translateY(-3px);

}


.footer {

    margin-top: 60px;

    font-size: 1rem;

    opacity: 0.7;

}


